.unity-button {
    background-color: rgb(196, 196, 196);
	border-width: 0;
	border-radius: 5px;
	-unity-font-style: bold;
	color: white;
}

.unity-button:hover {
	background-color: rgb(163, 163, 163);
}

.unity-base-text-field__input {
	background-color: rgb(163, 163, 163);
	overflow: visable;
}

.unity-text-element {
	color: white;
}

.unity-text-element:focus {
	color: white;
}

.unity-base-dropdown__label {
	color: black;
}